* {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html[data-theme='dark'] #wrapper {
    background-color: #333;
}

html[data-theme='dark'] main {
    background-color: #2d2d2d;
    box-shadow: 0 4px 20px rgba(200, 200, 200, 0.2);
    color: rgb(200, 200, 200);
}

html[data-theme='dark'] #google-link a {
    color: rgb(200, 200, 200);
}

html[data-theme='dark'] #footer {
    background-color: #222222;
    box-shadow: 0 4px 20px rgba(200, 200, 200, 0.2);
    color: rgb(255, 255, 255);
}

html[data-theme='dark'] #menu {
    background-color: #222222;
    box-shadow: 0 4px 20px rgba(200, 200, 200, 0.2);
    color: rgb(255, 255, 255);
}

html[data-theme='dark'] .link-container:hover a {
    border-bottom: 5px solid rgb(255, 255, 255);
}

#wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 1s ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sun, .moon {
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition: all 1s ease;
    animation: spin 60s linear infinite;
}

.fast-spin {
    animation: spin 1s linear infinite;
}

.sun:hover, .moon:hover {
    scale: 1.1;
}

/*Dodatkowe ostylowania poniżej*/
.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.y {
    color: yellow;
}

.s12 {
    font-size: 1.2em;
}

.center-row {
    margin: 0 auto;
}

header {
    margin-top: 2.5%;
}

/*Pasek nawigacyjny poniżej*/

#menu {
    z-index: 1000;
    display: flex;
    background: dodgerblue;
    color: white;
    height: 120px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: background-color 1s ease, color 1s ease;
}

#inner-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;
}

#left-side-nav,
#right-side-nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

#left-side-nav {
    margin-right: 1em;
}

#right-side-nav{
    margin-left: 1em;
}

#welcome {
    width: 220px;
    font-size: 1.5em;
}

#buttons {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    border: 3px solid #1FA2FF;
    padding: 8px 40px;
    transition: all 1s ease;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #1FA2FF 0%, #6de4ff  51%, #1FA2FF  100%);
    background-size: 200% auto;
    height: 50px;
    width: 80px;
}

.btn:hover {
    background-color: rgb(0, 191, 255, 1);
    color: white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    background-position: right center;
}

#main-btn,
#rank-btn,
#my-links-btn,
#add-link-btn,
#login-btn {
    transition: all 0.4s ease;
}

.btn:hover #main-btn {
    color: rgb(0, 30, 255);
}

.btn:hover #rank-btn {
    color: rgb(0, 255, 221);
}

.btn:hover #my-links-btn {
    color: rgb(132, 255, 0);
}

.btn:hover #add-link-btn {
    color: rgb(251, 255, 0);
}

.btn:hover #login-btn {
    color: rgb(255, 145, 0);
}

#logout-form {
    padding-left: 0.5em;
}

#logout-form input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: white;
    border: none;
    cursor: pointer;
    border: 3px solid #ff0000;
    padding: 8px 40px;
    text-align: center;
    transition: 0.5s;
    height: 72px;
    background-size: 200% auto;
    color: black;
    background-image: linear-gradient(to right, #ff0000 0%, #ffa4a4  51%, #ff0000  100%)
}

#logout-form input:hover {
    color: white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

@keyframes rotate-once {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.4);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

#logo {
    height: 80px;
    transform: rotate(0deg) scale(1);
    transition: transform 1s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 0 20px #eee;
}

#logo:hover {
    transform: rotate(720deg) scale(1.4);
    cursor: pointer;
}

#logo.rotate-on-load {
    animation: rotate-once 1s ease-in-out;
}

#myself {
    height: 80px;
    transform: rotate(0deg) scale(1);
    transition: transform 1s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 0 20px #eee;
}

#myself:hover {
    transform: rotate(360deg) scale(1.2);
    cursor: pointer;
}

/*Main content poniżej*/

main {
    position: relative;
    flex-grow: 1;
    text-align: center;
    max-width: 1600px;
    width: 100%;
    background-color: lightblue;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 150px auto 30px auto;
    box-sizing: border-box;
    font-size: 1em;
    transition: background-color 1s ease, color 1s ease;
}

#inner-main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    text-align: justify;
    font-size: 1.1em;
    word-spacing: 2px;
}

header {
    font-size: 2em;
    margin-bottom: 20px;
}

#desc {
    font-size: 1.4em;
    margin-bottom: 20px;
}

#top {
    border-bottom: 5px solid rgb(0, 170, 255);
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(0, 64, 255);
    transition: all 0.4s ease;
}

#linker {
    border-bottom: 5px solid rgb(0, 64, 255);
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(0, 170, 255);
    transition: all 0.4s ease;
}

#top-linker:hover #top{
    color: rgb(0, 170, 255);
    border-bottom: 5px solid rgb(0, 64, 255);
}

#top-linker:hover #linker{
    color: rgb(0, 64, 255);
    border-bottom: 5px solid rgb(0, 170, 255);
}

#top-linker {
    text-decoration: none;
    font-size: 1em;
}

.search-container {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #99caff;
    transition: all 0.4s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.search-container:hover {
    background-color: rgb(85, 170, 255);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

.search-input {
    padding: 5px 15px;
    border: none;
    background-color: #99caff;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    width: 300px;
    outline: none;
    font-size: 1em;
    transition: all 0.4s ease;
}

.search-container:hover .search-input {
    background-color: rgb(85, 170, 255);
}

#google-link {
    text-align: center;
    margin: 20px;
}

#google-link a {
    color: black;
    font-size: 1.2em;
    transition: all 1s ease;
}

#google-link a:hover {
    color: rgb(0, 81, 255);
    font-size: 1.2em;
}

.spinner {
    height: 48px;
    animation: pulse 2s linear infinite;
    animation-play-state: paused;
    transition: transform 0.3s ease;
}

.search-container:hover .spinner {
    animation-play-state: running;
}

.spinner.fast-pulse {
    animation: fast-pulse 0.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fast-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#links-container {
    border-radius: 30px;
    width: 1200px;
    padding: 30px 75px 30px 30px;
    transition: all 1s ease;
}

#links-container .link-container:nth-child(1):hover a {
    border: 5px dashed gold;
}

#links-container .link-container:nth-child(2):hover a {
    border: 5px dashed rgb(128, 128, 128);
}

#links-container .link-container:nth-child(3):hover a {
    border: 5px dashed #db842c;
}

.link-container:hover a {
    transition: all 1s ease;
    border-bottom: 5px solid black;
}

.link-container:first-child a {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.link-container:last-child a {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.link-container:nth-child(1):hover a {
    border: 5px dashed gold;
}

.link-container:nth-child(2):hover a {
    border: 5px dashed rgb(128, 128, 128);
}

.link-container:nth-child(3):hover a {
    border: 5px dashed #db842c;
}

.link-container {
    width: 90%;
    margin: 0 auto;
    transition: all 1s ease;
}

.link-container:hover {
    width: 105%;
    transform: translateX(-2.25%);
}

.rank {
    font-weight: bold;
    font-size: 1.2em;
}

.link-container:nth-child(1) .rank {
    color: black;
    transition: all 0.4s ease;
}

.link-container:nth-child(2) .rank {
    color: black;
    transition: all 0.4s ease;
}

.link-container:nth-child(3) .rank {
    color: black;
    transition: all 0.4s ease;
}

.link-container:nth-child(1):hover .rank {
    color: gold;
}

.link-container:nth-child(2):hover .rank {
    color: rgb(128, 128, 128);
}

.link-container:nth-child(3):hover .rank {
    color: #db842c;
}

.link-container:nth-child(1) .link {
    font-size: 1.8em;
}

.link-container:nth-child(2) .link {
    font-size: 1.6em;
}

.link-container:nth-child(3) .link {
    font-size: 1.4em;
}

.link {
    margin-left: 30px;
    font-size: 1.1em;
}

.link1, .link2, .link3, .link4, .link5, .link6, .link7 {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px;
    transition: all 0.4s ease;
    width: 100%;
    margin: 5px;
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover, .link6:hover, .link7:hover {
    border-radius: 30px;
}

.link1 {
    background-color: red;
    border: 5px solid red;
}

.link2 {
    background-color: orange;
    border: 5px solid orange;
}

.link3 {
    background-color: yellow;
    border: 5px solid yellow;
}

.link4 {
    background-color: green;
    border: 5px solid green;
}

.link5 {
    background-color: turquoise;
    border: 5px solid turquoise;
}

.link6 {
    background-color: rgb(65, 65, 255);
    border: 5px solid rgb(65, 65, 255);
}

.link7 {
    background-color: rgb(195, 0, 195);
    border: 5px solid rgb(195, 0, 195);
}

.likes {
    margin-left: auto;
    font-weight: bold;
    color: black;
}

.like-count {
    color: rgb(160, 160, 160);
    font-size: 1.5em;
}

.link-container a {
    display: flex;
    align-items: center;
    width: 100%;
}

#medal1, #medal2, #medal3 {
    height: 80px;
}

.link-container:hover a #medal1 {
    animation: medal1Pulse 1s infinite alternate;
    height: 80px;
}

.link-container:hover a #medal2 {
    animation: medal2Pulse 1s infinite alternate;
    height: 80px;
}


.link-container:hover a #medal3 {
    animation: medal3Pulse 1s infinite alternate;
    height: 80px;
}


@keyframes medal1Pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

@keyframes medal2Pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes medal3Pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#my-links-list {
    border-radius: 30px;
    padding: 30px 75px 30px 30px;
    width: 1200px;
}

#my-link-section {
    display: flex;
    align-items: center;
}

/*Footer poniżej*/

#footer {
    background-color: dodgerblue;
    color: white;
    padding: 20px;
    text-align: center;
    transition: background-color 1s ease, color 1s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

#ppl {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 1em;
}

.name, #ba, #mk, #jh {
    transition: all 0.4s ease;
}

.git-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 20px;
    color: white;
    width: 200px;
}

.name {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

.gh {
    font-size: 1.4em;
    color: #222;
    transition: all 0.4s ease;
}

.git-link:hover .gh {
    color: #ffffff;
}

.hub {
    transition: all 0.4s ease;
    font-weight: bold;
    color: #555;
    font-size: 1em;
}

.git-link:hover .hub {
    color: rgb(255, 242, 0);
}

.git-link:hover .name {
    color: rgb(132, 255, 0);
}

.git-link:hover #ba {
    color: rgb(255, 191, 0);
}

.git-link:hover #mk {
    color: rgb(246, 255, 0);
}

.git-link:hover #jh {
    color: rgb(132, 255, 0);
}

#java-project {
    font-weight: bold;
}

.repository {
    transition: all 0.4s ease;
    text-decoration: none;
    color: white;
}

.repository:hover {
    color: rgb(255, 191, 0);
}

#copyright {
    font-size: 1.2em;
    margin-right: 1em;
}

#username {
    font-size: 1em;
    color: aqua;
    font-style: italic;
    transition: all 0.4s ease;
    text-decoration: none;
}

#username:hover {
    color: rgb(246, 255, 0);
}

#linkers-name {
    font-size: 1.2em;
}

/*Przycisk do góry poniżej*/
#top-btn {
    position: fixed;
    right: 50px;
    z-index: 10;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    padding: 15px 25px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 1s ease;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border: 3px solid #00d2ff;
  }

#top-btn.show {
    opacity: 0.7;
    visibility: visible;
    pointer-events: auto;
}

#top-btn:hover {
    color: white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    opacity: 0.9;
    background-position: right center;
}

/* tryb nocny */

#account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#act {
    display: block;
    text-decoration: none;
    color: dodgerblue;
    transition: all 0.4s ease;
}

#act:hover {
    color: rgb(0, 79, 164);
}

.login-input {
    margin: 10px 0;
    text-align: center;
    padding: 5px 15px;
    border: none;
    background-color: #99caff;
    border-radius: 30px;
    font-size: 16px;
    width: 360px;
    outline: none;
    font-size: 1em;
    transition: all 1s ease;
}

.link-input {
    text-align: left;
    width: 720px;
}

#add-link-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px;
}

#add-link-btns {
    text-align: center;
}

.add-link-btn {
    border: 1px solid black;
    margin: 50px 50px 0px 50px;
    display: inline;
    border-radius: 40px;
    padding: 8px 40px;
    height: 40px;
    width: 160px;
    cursor: pointer;
}

.add-link-btn:hover {
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

textarea {
    resize: none;
    height: 50px;
}

.btn-1 {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    border: 3px solid #2db400;
    padding: 8px 40px;
    transition: all 1s ease;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #2db400 0%, #11ff00  51%, #2db400 100%);
    background-size: 200% auto;
    height: 50px;
    width: 200px;
}

.btn-1:hover {
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-position: right center;
}

.btn-2 {
    cursor: pointer;
    margin: 20px auto 0 auto;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 0.8em;
    background: white;
    border: 3px solid #ffbb00;
    padding: 8px 40px;
    transition: all 1s ease;
    text-decoration: none;
    color: rgb(100, 100, 100);
    background-image: linear-gradient(to right, #ffbb00 0%, #f9ff40  51%, #ffbb00 100%);
    background-size: 200% auto;
    height: 50px;
    width: 200px;
}

.btn-2:hover {
    color: rgb(0, 0, 0);
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-position: right center;
}

#edit-form {
    text-align: center;
}

/*Responsywność*/
